@import url('https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css');

.App {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.Graph {
  width: 100%;
  height: 100%;
  cursor: crosshair;
}
