html, body, #root, .App, .Sheet {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.Sheet {
  cursor: crosshair;
}

.Sidebar {
  position: absolute;
  left: 40px;
  top: 40px;
  width: 40px;
}
.Sidebar > :not(:last-child) {
  margin-bottom: 4px;
}
